

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .bars {
    display: flex;
    position: absolute;
    align-items: center;
    color: #414242;
    top: 25px;
    right: 24px;
    font-size: 1.5rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: solid 1px #d8dadb;
    background: #fff;
  }

  .left-nav {
    display: flex;
    align-items: center;
  }

  .img-logo {
    object-fit: contain;
    margin: 27px 24px;
    width: 67px;
    height: 26px;
  }

  .left-nav ul,
  .right-nav ul {
    display: none;
    width: 100%; 
    /* margin-top: 40px;  */
    justify-content: center;
  }

  .navbar-mobile {
    display:flex;
    justify-content: space-between;
    width: 100%; 
  }

  .right-nav{
    justify-content: flex-end;
  }

/* menu activation */
  .left-nav.active ul,
  .right-nav.active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-nav.active li,
  .right-nav.active li {
    list-style-type: none;
    margin: 20px 0;
  }

  .left-nav.active a,
  .right-nav.active a {
    text-decoration: none;
    color: #d8dadb;
    font-size: 2rem;
  }

  .navbar-mobile.active {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fill;
    position:fixed;
    height: 100vh;
    background: #414242;
  }

  .navbar.active {
    flex-wrap: wrap;
  }

  .bars.active {
    color: white;
  }

}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .bars {
    display: none;
  }

  .left-nav ul {
    display: block;
  }

  .left-nav ul {
    display: flex;
    list-style: none;
    margin-left: 30px;
  }

  .left-nav li {
    margin-right: 40px;
  }

  .left-nav a {
    text-decoration: none;
    color: #414242;
    font-weight: bold;
  }

  .right-nav {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  .right-nav ul {
    display: flex;
    list-style-type: none;
  }

  .right-nav li {
    margin-right: 24px;
  }

  .right-nav a {
    text-decoration: none;
    color: #737475;
  }
}

@media (min-width: 1281px) {
  /* big landscape tablets, laptops, and desktops */

  .left-nav ul {
    display: flex;
    list-style: none;
    margin-left: 56px;
  }

  .navbar {
    padding: 0 100px;
  }
}
