.vote-results {
  background-color: #d8d8d8;
  border-radius: 8px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.vote-bar {
  background: linear-gradient(to left, #414242, #737475);
  box-shadow: 0 3px 3px -5px #000000, 0 2px 5px #414242;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
